# 의존성 패키지 (용량이 크므로 제외)
node_modules/

# 빌드 결과물
.next/
out/
build/


db/
scripts/
# 환경 변수 파일 (중요: 보안을 위해 반드시 제외!)
.env*
.env.local
.env.production
.env.development.local

.txt
*.txt

# 운영체제 .DS_Store
Thumbs.db
# backups
*.bak
*.backup

